* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}

ul {
    list-style-type: none;
}

/*HEADER*/
header {
    height: 50px;
    padding: 40px;
}

nav {
    display: none;
}

nav ul li {
    margin-right: 10px;
}

.contact-nav {
    display: none;
}

.logo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    align-items: center;
}

.logo img {
    height: 20px;
}

.icon-burger {
    width: 25px;
}

/*MAIN*/
.main-section {
    margin: 0px 40px;
}

.img-main {
    max-width: 100%;
    margin-bottom: 60px;
    margin-top: 60px;
}

.info-main {
    text-align: right;
    margin-bottom: 40px;
}

.info-main p {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 30px;
}

h1 {
    font-weight: 700;
    font-size: 40px;
    color: #232C50;
    margin-bottom: 25px;
}

.button {
    border-radius: 100px;
    background-color: blueviolet;
    text-decoration: none;
    color: white;
    padding: 13px 40px 13px 40px;
    font-size: 10px;
}

.title-one {
    display: flex;
    ;
    padding: 40px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background: #3CDDF3;
}

.btn {
    border-radius: 30px;
    color: white;
    background: #8B48BF;
    display: flex;
    padding: 10px 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: auto 69px;
    height: auto 43px;
    z-index: 1;
}

.text-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 23px;
    margin: 70px 0px 0px 20px;
}

.p-title-one {
    color: #FFF;
    font-family: Be Vietnam;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
}

.p-title-one h2 {
    font-size: 34px;
}

.p-title-one p {
    font-size: 14px;
    width: 80%;
}

.t-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 151.1%;
    /* 24.176px */
}

.text-btn {
    margin-left: 20px;
}

.btn-text {
    display: flex;
}

.width {
    width: 100%;
}

.title-btn {
    background: rgba(139, 72, 191, 0.30);
    font-weight: 500;
    display: flex;
    align-items: center;
    align-self: stretch;
    height: 43px;
    gap: 8px;
    width: 105.5%;
    padding-left: 30px;
    position: relative;
    right: 20px;
}

.text {
    color: #B3B2B7;
    font-family: Be Vietnam;
    font-size: 16.298px;
    font-style: normal;
    font-weight: 500;
    line-height: 156.6%;
    /* 25.523px */
    letter-spacing: -0.163px;
    padding: 10px;
    border-top: 21px;
    margin-top: 30px;
}

.title-dos {
    display: flex;
    align-items: center;
    background-color: #3CDDF3;
    color: #FFFFFF;
    text-align: center;
    font-family: Be Vietnam;
    font-size: 22px;
    padding: 40px 90px;
    flex-direction: column;
    gap: 50px;
}

.buttom-dos {
    border-radius: 100px;
    background-color: #232C50;
    text-decoration: none;
    color: white;
    padding: 10px 29px 10px 29px;
    font-size: 10px;

}

.best-section {
    display: flex;
    flex-direction: column;
    margin: 40px;
}

.best-title {
    color: #242E53;
    font-size: 37px;
    font-weight: 700;
    text-align: center;
    margin: 91px 0px
}

.position {
    position: relative;
    bottom: 30px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 21px;

}

.best-info {
    color: #B9B9C1;
    margin: 0px 16px;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
}

.best-name {
    font-weight: 700;
}

.best-one {
    display: none;
}

.best {
    background: #FAFAFA;
}

.best-three {
    display: none;
}

.img-best {
    border-radius: 60px;
}

.best-buttom {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: blueviolet;
    text-decoration: none;
    color: white;
    width: 105px;
    height: 35px;
    padding: 10px;
    font-size: 10px;
    margin: auto;
    margin-bottom: 40px;
}

/*FOOTER*/
footer {
    background-color: #1E1E26;
    color: white;
    padding: 40px;
}

form {
    text-align: center;
}

input {
    width: 250px;
    padding: 10px;
    font-size: 10px;
    border-radius: 50px;
    border: none;
}

form button {
    background-color: #8B48BF;
    color: white;
    width: 50px;
    padding: 10px;
    font-size: 10px;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 3px 3px 0px #8B48BF
}

.lista {
    display: flex;
    justify-content: space-between;
    margin: 40px 60px;
    margin-bottom: 40px;
}

.lista ul li {
    margin-bottom: 13px;
    font-weight: 100;
    font-size: 14px;
}

.footer-logo {
    display: flex;
    flex-direction: column;
}

.footer-logo ul {
    display: flex;
    justify-content: space-around;
}

.footer-logo img {
    align-self: center;
    width: 100px;
    margin: 40px;
}

.footer-brand {
    text-align: center;
    font-size: 10px;
    margin-bottom: 30px;
    color: #8C8C94;
}

/*/FOOTER*/
@media (min-width: 1200px) {
    header {
        margin: 40px 180px;
    }

    .list-header {
        color: black;
        text-decoration: none;
    }

    nav {
        display: flex;
    }

    ul {
        display: flex;
        list-style-type: none;
    }

    form {
        position: absolute;

    }

    .logo {
        height: 100%;
        justify-content: space-between
    }

    .logo img {
        width: 120px;
        height: 30px;
        margin: 0px;
    }

    .icon-burger {
        display: none;
    }

    .contact-nav {
        display: flex;
        border-radius: 100px;
        background-color: #8B48BF;
        text-decoration: none;
        color: white;
        padding: 10px 32px;
        font-size: 13px;
        font-weight: lighter;
        box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
    }

    /*MAIN*/
    .main-section {
        margin: auto;
        margin-bottom: 70px;
        max-width: 1300px;
    }

    .img-main {
        max-width: 540px;
        margin: 0px;
    }

    .info-main {
        max-width: 400px;
        align-self: center;
    }

    .button {
        padding: 10px 32px;
        font-size: 13px
    }

    section {
        display: flex;
        justify-content: space-around;
        position: relative;
        top: 130px;
    }

    div.lista ul {
        display: block;
    }

    .logo-sportit {

        justify-content: center;
        position: relative;
        top: 250px;
        color: #FFFFFF;

    }

    .pros-section {
        flex-direction: column;
        margin-bottom: 130px;
    }

    .best-section {
        flex-direction: row;
        max-width: 1300px;
        margin: auto;
    }

    .best-title {
        margin-top: 0px;
    }

    .best-one {
        display: block;
    }

    .best-three {
        display: block;
    }

    .best-buttom {
        display: flex;
        width: 134px;
        height: 44px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 40px;
        margin-bottom: 120px;
    }

    .title-one {
        flex-direction: row;
        background-color: #8B48BF;
        padding: 40px 250px;
    }

    .p-title-one {
        width: 50%;
    }

    .p-title h2 {
        font-size: 25x;
    }

    .t-title p {
        width: 100%;
    }

    .text-info {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: #FAFAFA;
        padding: 50px;
        padding-bottom: 0px;
        margin: 0px;
    }

    .text-btn {
        width: 530px;
    }

    .text {
        margin-top: 0px;
        margin-left: 65px;
    }

    .title-btn {
        background-color: #FAFAFA;
    }

    .title-dos {
        flex-direction: row;
        justify-content: space-around;
        background-color: #8B48BF;
    }

    .title-dos h2 {
        width: 400px;
        text-align: left;
    }

    .buttom-dos {
        background-color: white;
        color: black;
        box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
    }

    /*FOOTER*/
    footer {
        padding: 40px 100px;
    }

    footer div {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    footer div div {
        width: 25%;
    }

    .footer-logo {
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    .footer-logo img {
        margin: 0px;
    }

    .footer-logo ul {
        width: 120px;
        align-self: center;
    }

    .lista {
        flex-direction: row;
        margin: 0px;
    }

    .lista ul .no-margin {
        margin-bottom: 0px;
    }

    .footer-form {
        justify-content: left;
    }

    input {
        width: 200px;
    }

    .footer-brand {
        text-align: right;
        margin: auto;
    }

    /*ANIMACIONES */
    .contact-nav:hover {
        background: rgba(139, 72, 191, 0.70);
        transition: ease-in-out 0.4s;
    }

    .button:hover {
        background: rgba(139, 72, 191, 0.70);
        transition: ease-in-out 0.4s;
    }

    .list-header:hover {
        border: none;
        color: rgba(36, 46, 82, 0.60);
        margin: 4px 2px;
        opacity: 0.6;
        transition: 0.3s;
    }

    .text-btn:hover {
        transition: 400ms;
        box-shadow: 2px 2px 3px rgba(139, 72, 191, 0.70);
    }

    .best-three:hover {
        box-shadow: 1px 5px 6px rgba(139, 72, 191, 0.70);
        transition: 400ms;
    }

    .best-two:hover {
        box-shadow: 1px 5px 6px rgba(139, 72, 191, 0.70);
        transition: 400ms;
    }

    .best-one:hover {
        box-shadow: 1px 5px 6px rgba(139, 72, 191, 0.70);
        transition: 400ms;
    }

    .best-buttom:hover {
        background: rgba(139, 72, 191, 0.70);
        transition: ease-in-out 0.4s;
    }
}