*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}
/*HEADER*/ 
header{
    height: 50px;
}
body{
    margin: 60px;
}
nav{
    display: none;
   
}
.contact-nav{
    display: none;
}
.logo{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    align-items: center;
}
.logo img{
    height: 20px;
}
.icon-burger{
    width: 25px;


}
/*MAIN*/
.img-main{
    width: 100%;
    margin-bottom: 60px;
    margin-top: 60px;
}
.info-main{
    text-align: right;
}
.info-main p{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 30px;
}
h1{
    font-weight: 700;
    font-size: 40px;
    color: #232C50;
    margin-bottom: 25px;
}
.buttom{
    border-radius: 100px;
    background-color: blueviolet;
    text-decoration: none;
    color: white;
    padding: 10px 29px 10px 29px;
    font-size: 10px;
    
}

.title-uno{
    background-color: #3CDDF3;
    color: #FFFFFF;
    text-align: center;
    font-family: Be Vietnam;
    font-size: 30px;
    font-weight: 200;
}
.parrafo{
    font-family: Be Vietnam;
    font-size: 16px;
    font-weight: 500;
}
.track{
    border-radius: 50px 0px 0px 50px;
    background: rgba(139, 72, 191, 0.30);
}
.parrafo-uno{
    color: #B3B2B7;
    font-family: Be Vietnam;
    font-size: 16.298px;
    font-style: normal;
    font-weight: 500;
    line-height: 156.6%; /* 25.523px */
    letter-spacing: -0.163px;

}
.advance{
    border-radius: 50px 0px 0px 50px;
    background: rgba(139, 72, 191, 0.30);
}
.parrafo-dos{
    color: #B3B2B7;
    font-family: Be Vietnam;
    font-size: 16.298px;
    font-style: normal;
    font-weight: 500;
    line-height: 156.6%; /* 25.523px */
    letter-spacing: -0.163px;

}
.everything{
    border-radius: 50px 0px 0px 50px;
    background: rgba(139, 72, 191, 0.30);
}
.parrafo-tres{
    color: #B3B2B7;
    font-family: Be Vietnam;
    font-size: 16.298px;
    font-style: normal;
    font-weight: 500;
    line-height: 156.6%; /* 25.523px */
    letter-spacing: -0.163px;

}
.title-dos{
    background-color: #3CDDF3;
    color: #FFFFFF;
    text-align: center;
    font-family: Be Vietnam;
    font-size: 16px;
    height: 200px;
}

.buttom-dos{
    border-radius: 100px;
    background-color: #232C50;
    text-decoration: none;
    color: white;
    padding: 10px 29px 10px 29px;
    font-size: 10px;
   
}

/*FOOTER*/
footer{
    background-color: #1E1E26;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 350px;
    flex-direction: column;
}
.logo-sportit{
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    position: absolute;
    
}
.icons{
    display: flex;

}

.lista{
    display: flex; 
}
@media (min-width: 1440px){
    nav{
        display: flex; 
       
    }
    ul{
        display: flex;
        list-style-type: none;
    }
    ul li{
        margin-left: 25px;
    }
    .logo{
        height: 100%;
        justify-content:space-between
    }
    .logo img{
    width: 120px;
    height: 30px;
 
    }
    .icon-burger{
        display: none;
    }
    .contact-nav{
        display: flex;
        border-radius: 100px;
        background-color: #8B48BF;
        text-decoration: none;
        color: white;
        padding: 10px 29px 10px 29px;
        font-size: 10px;
        font-weight: lighter; 
    }
    section{
        display: flex;
        justify-content: space-between;
    }
}

